<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>DECO PLANTS - INICIO</title>
</head>

<body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between ">

            <a class="py-4 d-none d-md-inline-block text-decoration-none" href="{% url 'home' %}">INICIO</a>
            <a class="py-4 d-none d-md-inline-block text-decoration-none" href="{% url 'about' %}">QUIENES SOMOS</a>
            <a class="py-4 d-none d-md-inline-block text-decoration-none" href="{% url 'galeria' %}">GALERÍA</a>
            <a class="py-4 d-none d-md-inline-block text-decoration-none" href="#footer">CONTACTANOS</a>
            <a class="py-4 d-none d-md-inline-block text-decoration-none" href="{% url 'register' %}">REGISTRATE</a>
            <a class="py-4 d-none d-md-inline-block text-decoration-none" href="{% url 'register' %}">INICIAR SESION</a>

        </div>
    </nav>


    {% load crispy_forms_tags %}

    <div class="formulariosection">
        <main>
           <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                        <h3> INGRESE CREDENCIALES</h3>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}
                            {{ form | crispy }}

                            <br>
                            <div class="d-grid gap-2 col-6 mx-auto">
                            <input type="submit" value="ingresar" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
           </div>
        </main>

    </div>



    <footer id="footer">
        <h1 id="titulofooter">
            Contactanos en nuestras redes
        </h1>
        <div id="socials">
            <a href="https://web.facebook.com/Deco-Plants-108161155177454"> <img class="socialslogo"
                    src="{% static 'core/img/facebook.png' %}" alt="logoface"></a>
            <a href="https://goo.gl/maps/sDKpmiqVjZyk9FQA7"> <img class="socialslogo"
                    src="{% static 'core/img/google.png' %}" alt="logoinsta"></a>
            <a href="https://www.instagram.com/deco_plants_amigas/"> <img class="socialslogo"
                    src="{% static 'core/img/instagram.png' %}" alt="logoinsta"></a>
            <a href="https://twitter.com/?lang=es"><img class="socialslogo" src="{% static 'core/img/twtitter.png' %}"
                    alt="logo twtitter"></a>
            <a href="https://github.com/paulo4ciz/proyecto_semestral"><img class="socialslogo"
                    src="{% static 'core/img/github.png.png' %}" alt="logoinsta"></a>
        </div>

        <header class="linksfooter">
            <div class="headfooter">
                <div class="hipervinculosfooter">
                    <h2>Servicio al cliente</h2>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Seguimiento de pedidos</a>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Terminos y condiciones</a>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Medios de Pago</a>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Dejanos tu opninion</a>
                </div>

                <div class="hipervinculosfooter">
                    <h2>Nuestra Empresa</h2>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Clientes</a>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Nuestro team</a>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Vision y futuro</a>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Inversionistas y partners</a>

                </div>

                <div class="hipervinculosfooter">
                    <h2>Nuestros Productos</h2>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Plantas indoor</a>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Plantas outdoor</a>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Nuestras semillas</a>
                    <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Como plantar en tu casa</a>

                </div>

            </div>
        </header>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Todos los Derechos reservados:
            <a class="text-white" href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">decoplants.com</a>
        </div>
    </footer>
    <!-- Footer -->

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>

</html>