<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Document</title>

</head>
<body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between ">
    
          <a class="py-4 d-none d-md-inline-block text-decoration-none" href="{% url 'home' %}">INICIO</a>
          <a class="py-4 d-none d-md-inline-block text-decoration-none" href="{% url 'about' %}">QUIENES SOMOS</a>
          <a class="py-4 d-none d-md-inline-block text-decoration-none" href="{% url 'galeria' %}">GALERÍA</a>
          <a class="py-4 d-none d-md-inline-block text-decoration-none" href="#footer">CONTACTANOS</a>
          <a class="py-4 d-none d-md-inline-block text-decoration-none" href="{% url 'register' %}">REGISTRATE</a>
          <a class="py-4 d-none d-md-inline-block text-decoration-none" href="{% url 'login' %}">INICIAR SESION</a>
    
        </div>
      </nav>
      <div class="formulariosection">
        <main>
            <h1  style="text-align: center" ;>INICIO SESION</h1>     
          
          <form action="" class="formulario" id="formulario">
            <!-- id para acceder a js. -->
            <!-- para cada grupo (usuario, contraseña, email, crear una division)-->
      
            <!--grupo usuario -->
            <div class="formulario__grupo" id="grupo__usuario">
                <label for="usuario" class="formulario__label">Usuario</label>
                <div class="formulario__grupo-input">
                  <input type="text" class="formulario__input" name="usuario" id="usuario" placeholder="Correo electronico o nombre de usuario">
                  <!--id de input tiene que ser el misom del label-->
                  <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                </div>
                <p class="formulario__input-error">ERROR: El usuario es inconrrecto. ¿La has olvidado?</p>
              </div>
      
           
      
            <!--grupo password -->
            <div class="formulario__grupo" id="grupo__password">
              <label for="password" class="formulario__label">Contraseña</label>
              <div class="formulario__grupo-input">
                <input type="password" class="formulario__input" name="password" id="password" placeholder="Ingrese su contraseña">
                <!--id de input tiene que ser el misom del label-->
                <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
              </div>
              <p class="formulario__input-error">La constraseña es incorrecta ¿Olvidaste tu contraseña?</p>
            </div>
      
           
            <a href="register.html">Crear cuenta nueva</a>
            <a href="img/mantenimiento-del-sitio-web.jpg"> ¿Olvidaste tu contraseña?</a>
           
      
             <!--grupo terminos -->
            <div class="formulario__grupo" id="grupo__terminos">
              <label for="" class="formulario__label">
                <input type="checkbox" name="terminos" id="terminos" class="formulario__checkbox">
                Acepto terminos y condiciones
              </label>
            </div>
            <div class="formulario__mensaje" id="formulario__mensaje">
              <p><i class="fa-regular fa-circle-xmark"></i> <b>Error: </b>Debe iniciar correctamente sesion </p>
            </div>
      
            <div class="formulario__grupo formulario__grupo-btn-enviar">
              <button type="submit" class="formulario__btn">Iniciar sesion</button>
              <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Sesion iniciada exitosamente</p>
            </div>
          </form>
        </main>
      </div>
      <footer id="footer">
        <h1 id="titulofooter">
          Contactanos en nuestras redes
        </h1>
        <div id="socials">
          <a href="https://web.facebook.com/Deco-Plants-108161155177454"> <img class="socialslogo"
              src="{% static 'core/img/facebook.png' %}" alt="logoface"></a>
          <a href="https://goo.gl/maps/sDKpmiqVjZyk9FQA7"> <img class="socialslogo" src="{% static 'core/img/google.png' %}"
              alt="logoinsta"></a>
          <a href="https://www.instagram.com/deco_plants_amigas/"> <img class="socialslogo"
              src="{% static 'core/img/instagram.png' %}" alt="logoinsta"></a>
          <a href="https://twitter.com/?lang=es"><img class="socialslogo" src="{% static 'core/img/twtitter.png' %}"
              alt="logo twtitter"></a>
          <a href="https://github.com/paulo4ciz/proyecto_semestral"><img class="socialslogo"
              src="{% static 'core/img/github.png.png' %}" alt="logoinsta"></a>
        </div>
    
        <header class="linksfooter">
          <div class="headfooter">
            <div class="hipervinculosfooter">
              <h2>Servicio al cliente</h2>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Seguimiento de pedidos</a>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Terminos y condiciones</a>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Medios de Pago</a>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Dejanos tu opninion</a>
            </div>
    
            <div class="hipervinculosfooter">
              <h2>Nuestra Empresa</h2>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Clientes</a>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Nuestro team</a>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Vision y futuro</a>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Inversionistas y partners</a>
    
            </div>
    
            <div class="hipervinculosfooter">
              <h2>Nuestros Productos</h2>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Plantas indoor</a>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Plantas outdoor</a>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Nuestras semillas</a>
              <a href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">Como plantar en tu casa</a>
    
            </div>
    
          </div>
        </header>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Todos los Derechos reservados:
          <a class="text-white" href="{% static 'core/img/mantenimiento-del-sitio-web.jpg' %}">decoplants.com</a>
        </div>
      </footer>

          
        <script src="{% static 'core/js/validacionFormularioResgistro.js' %}"></script>
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>